{% load static %}
<!DOCTYPE html>
<html lang="en">
    <body>
        <script src="static/static/js/bootstrap.min.js"></script>
        <script src="static/static/js/popper.js"></script>
        <div class="row">
            <div class="col-md-4 bg-light p-3">
                <h5>Address:</h5> 
                <hr>
                Second Floor,Landmark Building,<br>
                Near F.C College <br>
                Pune-411002 <br>
                Maharashtra <br>
                Contact:9977979797
            </div>
            <div class="col-md-4 bg-light p-3">
                <h5>Quick links:</h5> 
                <hr>
                <a href="/index" ><strong>Home</strong></a> <br>
                <a href="/contact" ><strong>Contact</strong></a> <br>
                <a href="/about" ><strong>About</strong></a>

                <!--end of quick links-->
            </div>
            <div class="col-md-4 bg-light p-3">
                <h5>Connect us:</h5> 
                <hr>
                <h5><a href="https://www.facebook.com/" target="_self"><i class="bi bi-facebook"></i></a></h5>
                <h5><a href="https://twitter.com/?lang=en" target="_self"><i class="bi bi-twitter-x"></i></a></h5>
                <h5><a href="https://www.instagram.com/" target="_self"><i class="bi bi-instagram"></i></a></h5>

            </div>   <!--end of connect us-->

        </div>
    </body>
</html>