{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Product</title>
        <link href="static/css/bootstrap.min.css" rel="stylesheet" >
        <link href="static/css/style.css" rel="stylesheet" >
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet" >
    </head>
    <body>
        <script src="static/js/bootstrap.min.js"></script>
        <script src="static/js/popper.js"></script>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 pt-3 pb-4">
                    <nav class="navbar navbar-expand-lg bg-body-tertiary ">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="/home">Eshop</a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                    <li class="nav-item">
                                        <a class="nav-link active  nav nav-tabs" aria-current="page" href="/home">Home</a>
                                    </li>
                                </ul>
                                <ul class="nav justify-content-end  nav nav-pills hstack gap-5">
                                    {% if user.is_authenticated %}
                                    <li class="nav-item">
                                        <a class="nav-link active" href="/user_logout">Logout</a>
                                    </li>
                                    
                                    {% else %}
                                    <li class="nav-item">
                                        <a class="nav-link active"  href="/register">Register</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" href="/user_login">Login</a>
                                    </li>
                                    
                                    
                                    
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </body>
</html>